[Unit]
After=vault.service

[Service]
PrivateTmp=true
Environment=VAULT_ADDR={{ vault_address }}
Environment=VAULT_TOKEN={{ marathon_vault_token }}
ExecStart=
ExecStart=/usr/local/bin/vault-wrapper-marathon.sh
