[Unit]
Description={{service_name}}-token
After=vault.service
Wants=vault.service

[Service]
Type=oneshot
User={{ service_user }}
Environment=VAULT_TOKEN={{ service_vault_token }}
Environment=VAULT_ADDR={{ vault_address }}
ExecStart=/bin/bash -c '/usr/bin/vault token-renew $VAULT_TOKEN > /dev/null'
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
